<ion-header>
  <ion-toolbar>
    <ion-title>
      Controle de Emprestimos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Nome</ion-label>
    <ion-input  [{ngModel}]="newItem.nome"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">Item</ion-label>
    <ion-input  [{ngModel}]="newItem.detalhesdoitem"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Data</ion-label>
    <ion-input  [{ngModel}]="newItem.data"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Emprestado?</ion-label>
    <ion-input  [{ngModel}]="newItem.emprestado"></ion-input>
  </ion-item>

<ion-button expand="full" (click)="addItem()">Novo Emprestimo</ion-button>

<ion-list #mylist>

  <ion-list-header>
    <ion-label>Emprestimos</ion-label>
  </ion-list-header>

  <ion-item-sliding *ngFor="let item of items">

    <ion-item>
      <ion-label text-wrap>
        <h3>{{ item.nome }}</h3>
        <ion-text color="secondary">
          <p>{{ item.detalhesdoitem }}</p>
        </ion-text>
        <p>{{ item.data | date:'short' }}</p>
        <p>{{ item.emprestado }}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="secondary" (click)="updateItem(item)">Atualizar</ion-item-option>
      <ion-item-option color="danger" (click)="deleteItem(item)">Deletar</ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>
</ion-content>
